<!-- admin.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa Rural Zugazti - Login</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <div class="header-container">
            <h1>Casa Rural Zugazti</h1>
            <nav>
                <div class="menu">
                    <a href="#">Más Información</a>
                    <a href="#">Contacto</a>
                    <a href="./admin.html">Gestión de Reservas</a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <h1>Iniciar sesión como administrador:</h1>
        <form method="POST" action="../public/index.php">
            <input type="hidden" name="action" value="admin">
            <label for="username">Usuario:</label>
            <input type="text" name="username" required>
            <label for="password">Contraseña:</label>
            <input type="password" name="password" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
    </main>
</body>
</html>
